<div class="container" >
  <div class="mx-auto" style="width: 200px;">
    <h2>Log in</h2>
  </div>
    <%= form_for :session, url: login_path do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "text-body" %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password, class: "text-body" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="mx-auto" style="width: 200px;">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>