<div class="shop-show-wrapper">
  <div class="container" >
    <div class="row">
      <div class="mx-auto col-md-8 col-10 bg-white p-5" >
        <h2 class="text-center">店舗情報</h2>
          <div class="container">
            <h5 class="text-center pt-2">店名：<%= @shop.name %></h5>
            <h5 class="text-center pt-1">〒<%= @shop.postal_code %></h5>
            <h5 class="text-center p-1">住所：<%= @shop.address %></h5>
            <div class="mx-auto" style="width: 200px;">
              <%= link_to("店舗情報の編集", edit_shop_path(id: @shop.id), {class: "btn btn-primary mt-2 ml-3"}) %>
            </div>
          </div>
      </div>
    </div>  
  </div>
</div>

<footer class="text-muted py-4 mb-2">
  <div class="container">
    <%= link_to 'Back to top', '/topics', class: "float-right" %>
  </div>
</footer>