  <div class="text-center py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-2">Topics</h1>
        </div>
        <form class="form-inline d-flex justify-content-center mx-auto" >
        <div class="col-xs-4">
            <%= search_form_for(@q, url:topic_search_path) do |f| %>
              <%= f.search_field :shop_name_cont, class:"form-control" , placeholder: "店名", :size => "30*30"  %>
        </div>      
              <%= f.submit class:"btn btn-primary" %>
            <% end %>
        </form>
      </div>  
    </div> 
  </div>
  
  <div class="py-4 bg-light">
    <div class="container">
      <div class="row flex-row">
        <% @topics.each do |topic| %>
        <div class="col-md-4 p-3">
          <div class="card box-shadow">
            <img class="card-img-top">
            <% if topic.image1.url %>
              <%= image_tag topic.image1.url, class:'index_image' %>
            <% else %>
              <%= image_tag "/assets/default.png", class:'index_image' %>
            <% end %>
            <div class="card-body">
              <p class="font-weight-bold">
                <% if topic.user.image.url %>
                  <%= link_to image_tag(topic.user.image.url, class:'icon'), user_path(id: topic.user.id) %>
                <% else %> 
                  <%= link_to image_tag("/assets/default_user_image.png", class:'icon'), user_path(id: topic.user.id) %>
                <% end %>
                <%= topic.user.name %>
              </p>
              <p class="font-weight-bold">
                <%= topic.shop.name %>
              </p>
              <p class="card-text">
                <%= topic.description %>
              </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <%= link_to "View", topic %>
                  </button>
                </div><small class="text-muted"><%= l topic.created_at %></small>
            </div>
            </div>
          </div>
        </div>
     <% end %>
     </div>
     
     <div class="row">
      <div class="col-md-2 mx-auto" >
        <ul class="pagination">
         <li class="page-item"><%= paginate @topics %></li>
        </ul> 
      </div>
    </div>
    
  </div>
</div>
  
<footer class="text-muted py-4 mb-2">
  <div class="container">
    <%= link_to 'Back to top', '/topics', class: "float-right" %>
  </div>
</footer>