<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= @topic.user.name %>
            </h2>
            <% if @topic.image.url %>
              <%=  link_to @topic.image.url, 'data-lightbox': @topic.image do %>
              <%= image_tag @topic.image.url %>
              <% end %>
            <% end %>  
              
            <%= link_to favorites_path(topic_id: @topic.id), method: :post do %>
              <%= image_tag 'heart-black.png', class: 'topic-index-icon' %>
            <% end %>
            <%= link_to image_tag('comment.png', class: 'topic-index-icon'), new_comment_path(topic_id: @topic.id) %> 
            
            <p class="topic-text">
              <%= @topic.description %>
            </p>
          </div>
        </div>
      </div>
        <% if current_user == @topic.user %>
          <%= link_to "編集", edit_topic_path %>
          <%= link_to "削除", topic_path,method: :delete %>
        <% end %>
        
        <h2>コメント</h2>
        <% @comments.each do |c| %>
          <div><%= c.comment_content %></div>
        <% end %>

    </div>
  </div>
  