<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-3">
          <div class="topic-index-single">
            <h3 class="topic-author">
              <% if @topic.user.image.url %>
                  <%= link_to image_tag(@topic.user.image.url, class:'icon_show'), user_path(id: @topic.user.id) %>
                <% else %>
                  <%= link_to image_tag("/assets/default_user_image.png", class:'icon_show'), user_path(id: @topic.user.id) %>
                <% end %>
              <%= @topic.user.name %>
            </h3>
            <h3 class="topic-author">
              <%= @topic.shop.name %>
            </h3>
            
            <div class="topic-author">
            <% if @topic.image1.url %>
              <%=  link_to @topic.image1.url, 'data-lightbox': @topic.image1 do %>
              <%= image_tag @topic.image1.url, class:'topic_image1' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            
            <% if @topic.image2.url %>
              <%=  link_to @topic.image2.url, 'data-lightbox': @topic.image2 do %>
              <%= image_tag @topic.image2.url, class:'topic_image2' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            
            <% if @topic.image3.url %>
              <%=  link_to @topic.image3.url, 'data-lightbox': @topic.image3 do %>
              <%= image_tag @topic.image3.url, class:'topic_image4' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            
            <% if @topic.image4.url %>
              <%=  link_to @topic.image4.url, 'data-lightbox': @topic.image4 do %>
              <%= image_tag @topic.image4.url, class:'topic_image4' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            </div>
            
            <div class="topic-text mt-3">
              <%= simple_format(@topic.description) %>
              <small><%= l @topic.created_at %></small>
            </div>
            
            <div class="topic-author mt-2 mb-3">
             <% if Favorite.find_by(user_id: @current_user.id, topic_id: @topic.id) %>
              <%= link_to("/favorites/#{@topic.id}/destroy", {method: "post"}) do  %>
              <%= image_tag 'bookmark.png', class: 'topic-index-icon' %>
              <% end %>
            <% else %>
              <%= link_to("/favorites/#{@topic.id}/create", {method: "post"}) do %>
              <%= image_tag 'no_bookmark.png', class: 'topic-index-icon' %>
              <% end %>
            <% end %>
            
            <%= link_to image_tag('comment.png', class: 'topic-index-icon'), new_comment_path(topic_id: @topic.id) %>
            
            <% if current_user == @topic.user %>
              <%= link_to image_tag('edit.png', class: 'topic-index-icon'), edit_topic_path %>
              <%= link_to image_tag('delete.png', class: 'topic-index-icon'), topic_path,method: :delete %>
            <% end %>
          </div>
          
          <div class="comments-author">
            <% @comments.each do |c| %>
            <ul class="list-group">
              <li class="list-group-item pt-2 pb-1">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">
                    <% if c.user.image.url %>
                      <%= link_to image_tag(c.user.image.url, class:'icon_show_comments'), user_path(id: c.user.id) %>
                    <% else %>
                      <%= link_to image_tag("/assets/default_user_image.png", class:'icon_show_comments'), user_path(id: c.user.id)  %>
                    <% end %>
                    <%= c.user.name %>
                  </h5>
                </div>
                <div class="d-flex w-100 justify-content-between">
                  <p class="mb-1"><%= c.comment_content %></p>
                    <small>
                      <% if current_user.id == c.user.id %>
                        <%= link_to image_tag('delete.png', class: 'topic-index-icon'), comment_path(comment_id: c.id),method: :delete %>
                      <% end %>
                      <%= l c.created_at %>
                    </small>
                </div>
              </li>
            </ul>
            <% end %>
          </div>  
          
          
    </div>
  </div>
</div>
        
        <div class="topic-index-wrapper">
          <div class="container" >
            <div class="row">
              <div class="mx-auto col-md-12 col-10 bg-white p-4" >
              <h1 class="text-center">Comment</h1>
              <%= form_for @comment do |f| %>
              <div class="form-group">
                <%= f.label :内容 %>
                <%= f.text_area :comment_content, size: '20x5', class: 'form-control' %>
                <%= f.hidden_field :topic_id, :value => @topic.id %>
              </div>
              <div class="mx-auto" style="width: 150px;">
                <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
              </div>
              <% end %>
              </div>
          </div>
        </div>
      </div>
  
  <footer class="text-muted py-4 mb-4">
    <div class="container">
      <%= link_to 'Back to top', '/topics', class: "float-right" %>
    </div>
  </footer>
