<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-3">
          <div class="topic-index-single">
            <h3 class="topic-author">
              <% if @topic.user.image.url %>
                  <%= image_tag @topic.user.image.url, class:'icon_show' %>
                <% else %>
                  <%= image_tag "/assets/default_user_image.png", class:'icon_show' %>
                <% end %>
              <%= @topic.user.name %>
            </h3>
            <h3 class="topic-author">
              <%= @topic.shop.name %>
            </h3>
            
            <div class="topic-author">
            <% if @topic.image1.url %>
              <%=  link_to @topic.image1.url, 'data-lightbox': @topic.image1 do %>
              <%= image_tag @topic.image1.url, class:'topic_image1' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            
            <% if @topic.image2.url %>
              <%=  link_to @topic.image2.url, 'data-lightbox': @topic.image2 do %>
              <%= image_tag @topic.image2.url, class:'topic_image2' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            
            <% if @topic.image3.url %>
              <%=  link_to @topic.image3.url, 'data-lightbox': @topic.image3 do %>
              <%= image_tag @topic.image3.url, class:'topic_image4' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            
            <% if @topic.image4.url %>
              <%=  link_to @topic.image4.url, 'data-lightbox': @topic.image4 do %>
              <%= image_tag @topic.image4.url, class:'topic_image4' %>
              <% end %>
            <% else %>
              <%= image_tag "/assets/default_cover.png", class:'default_cover' %>
            <% end %>
            </div>
            
            <div class="topic-text">
              <%= simple_format(@topic.description) %>
            </div>
            
            <div class="topic-author">
             <% if Favorite.find_by(user_id: @current_user.id, topic_id: @topic.id) %>
              <%= link_to("/favorites/#{@topic.id}/destroy", {method: "post"}) do %>
                <span class="fa fa-heart like-btn"></span>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: @topic.id), method: :post do %>
              <%= image_tag 'heart-black.png', class: 'topic-index-icon' %><% end %>
            <% end %>  
            <%= link_to image_tag('comment.png', class: 'topic-index-icon'), new_comment_path(topic_id: @topic.id) %>
            
            <% if current_user == @topic.user %>
              <%= link_to image_tag('edit.png', class: 'topic-index-icon'), edit_topic_path %>
              <%= link_to image_tag('delete.png', class: 'topic-index-icon'), topic_path,method: :delete %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
        
        <h2>コメント</h2>
        <% @comments.each do |c| %>
          <div class="topic-index-single">
            <h2 class="topic-author"><%= @comment.user.name %></h2>  
            <%= c.comment_content %>
          </div>
        <% end %>

    </div>
  </div>
