<h2>gmap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 600px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.658164639420335, lng: 139.701625068572},
  zoom: 15
  });
  
  <% @shops.each do |shop| %>
          (function(){
          var contentString = "住所：<%= shop.address %>"; 

          var marker = new google.maps.Marker({
              position:{lat: <%= shop.latitude %>, lng: <%= shop.longitude %>},
              map: map,
              title: contentString
          });
          
          var infowindow = new google.maps.InfoWindow({
                position: marker,
                content: `<a href='search?utf8=✓&q%5Bshop_name_cont%5D=<%= shop.name %>&commit=検索'><%= shop.name %></a>`
              })
              
          marker.addListener('click', function() {
                infowindow.open(map, marker);
              });    

          })();
      <% end %>
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('該当する結果がありませんでした:' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>