<div class="text-center py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-2">Users</h1>
        </div>
        <form class="form-inline d-flex justify-content-center mx-auto" >
        <div class="col-xs-4">
            <%= search_form_for(@q, url:user_search_path) do |f| %>
              <%= f.search_field :name_cont, class:"form-control" , placeholder: "ユーザー名", :size => "30*30"  %>
        </div>      
              <%= f.submit class:"btn btn-primary" %>
            <% end %>
        </form>
      </div>  
    </div> 
  </div>

<div class="py-4">
    <div class="container">
      <div class="row">
        <% @users.each do |user| %>
        <div class="col-md-12">
          <div class="list-group" >
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to user.name, user_path(id: user.id) %>
              <%= link_to '削除', user_path(id: user.id), method: :delete, data: { confirm: "ユーザー「#{user.name}」を削除してもよろしいですか？※投稿やコメントも削除されます※"}, class: "btn btn-danger" %>
            </li>
          </div>
        </div>
        <% end %>
        <div class="col-md-12">
          <div class="list-group" >
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <%= link_to 'New User', new_user_path %>
            </li>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2 mx-auto mt-5" >
          <ul class="pagination">
           <li class="page-item"><%= paginate @users %></li>
          </ul> 
        </div>
      </div>
      
    </div>
  </div>
  
<footer class="text-muted py-4 mb-2">
  <div class="container">
    <%= link_to 'Back to top', '/topics', class: "float-right" %>
  </div>
</footer>