<!DOCTYPE html>
<html>
  <head>
    <title>Easy-sharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
  
  <!--以下2つを入れればtooltipが効くがドロップダウンが効かない-->
  <!--script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script-->
  <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script-->
  
  </head>
  
<% if logged_in? %>
<nav class="navbar navbar-expand-md navbar-light p-1 bg-white border , sticky-top" ,style=height:30px; >
    <div class="container">
      <a class="navbar-brand text-primary" href='/topics'>
        <b>Easy sharing</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="投稿一覧"><%= link_to image_tag("/assets/topic_index.png", class:"navbar-brand"), '/topics' %></li>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="マイポスト"><%= link_to image_tag("/assets/mypost.png", class:"navbar-brand"), "/topics/mypost" %></li>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="ブックマーク"><%= link_to image_tag("/assets/bookmark.png", class:"navbar-bookmark-brand"), favorites_index_path %></li>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="新規投稿"><%= link_to image_tag("/assets/topic_new.png", class:"navbar-brand"), new_topic_path %></li>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Mapから探す"><%= link_to image_tag("/assets/map_index.png", class:"navbar-brand"), '/maps' %></li>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="プロフィール">
            <% if current_user.image.url %> 
              <%= link_to image_tag(current_user.image.url, class:"navbar-brand"), user_path(id: current_user.id) %>
            <% else %>  
              <%= link_to image_tag("/assets/default_user_image.png", class:"navbar-brand"), user_path(id: current_user.id) %>
            <% end %>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="ユーザー管理"><%= link_to image_tag("/assets/users_index.png", class:"navbar-brand"), '/users' %></li>
          
          <li class="nav-item dropdown pr-2" >
            <div class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag("/assets/shop_new.png", class:"navbar-brand_drop_down") %>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href='/shops/new'>店舗登録</a>
              <a class="dropdown-item" href='/shops'>店舗管理</a>
            </div>
          </li>
        
          <li class="nav-item pl-3" data-toggle="tooltip" data-placement="bottom" title="ログアウト">
            <%= link_to logout_path, method: :delete, data: { confirm: "ログアウトします。よろしいですか？"} do %>
              <%= image_tag("/assets/logout.png", class:"navbar-brand") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <% end %>
  
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert">
    <%= value %>
  </div>
  <% end %>
  
<script>
  $(function(){
  $('[data-toggle="tooltip"]').tooltip();
});

  $(function(){
    $(".alert").fadeOut(2000);
  });
</script>

 <%= yield %>
 
  </body>
</html>
